.about-us-logo {
    max-width: 100px;
    img {
      @extend .about-us-logo;
      width: 100%;
      height: auto;
    }
    &-description {
      font-size: 22px;
      font-family: "Source Sans Pro";
      font-weight:600;
      color: #bdbec2;
      text-align: center;
      @media only screen and (max-width: 991px) {
        font-size: 15px;
        font-family: "Source Sans Pro", sans-serif;
        color: #bdbec2;
        text-align: center;
      }
    }
    @media only screen and (max-width: 991px) {
      img {
        max-width: 50px;
        height: auto;
      }
    }
  }