.count-up{
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    @media only screen and (max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 32px 0;
        gap: 28px;
        max-width: 320px;
        margin: 0 auto;
    }
    &-item{
        display: flex;
        justify-content: space-between;
        gap:10px;
        @media only screen and (max-width: 991px) {
            justify-content: center;
            gap: 16px;
        }
    }
    &-number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 991px) {
            justify-content: center;
            align-items: center;
        }
        &-title{
            font-size: 12px;
            margin-bottom: 0px;
            color:white
        }
        &-value{
            font-size: 30px;
            color:white
        }
    }
}