.count-up{
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    @media only screen and (max-width: 991px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 40px 24px;
        gap: 28px;
        max-width: 100%;
        margin: 0 auto;
    }
    &-item{
        display: flex;
        justify-content: space-between;
        gap:10px;
        img {
            filter: brightness(0) saturate(100%) invert(48%) sepia(28%) saturate(500%) hue-rotate(345deg) brightness(90%) contrast(90%);
        }
        @media only screen and (max-width: 991px) {
            justify-content: flex-start;
            gap: 16px;
        }
    }
    &-number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 991px) {
            justify-content: center;
            align-items: center;
        }
        &-title{
            font-size: 12px;
            margin-bottom: 0px;
            color: var(--brand-text);
        }
        &-value{
            font-size: 30px;
            color: var(--brand-text);
        }
    }
}