@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body{
  background-color: #36373b;
}
.navbar-brand{
  cursor: pointer;
}
.component-container{
  padding: 50px 0 0 0;
  &-last-item{
    padding: 50px 0 55px 0;
  }
}
.header{
  font-family: 'Source Sans Pro', sans-serif;
  color: #bdbec2;
  font-size: larger;
  padding-right: 3vw;
}
.header-logo{
  padding-left: 3vw;
  img{
    max-width: 257px;
    height: auto;
  }
  @media only screen and (max-width: 991px){
    img{
      max-width: 150px;
      height: auto;
    }
  }
}
.big-logo{
  object-fit: contain;
  display: flex;
  justify-content: center;
  position: relative;
  img{
    @extend .big-logo;
    width: 100%;
    height: auto;
  }
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.icons{
  display: flex;
  align-items: flex-end;
  &-icons-description{
    display: flex;
    align-items: flex-start;
  }
  &-centered{
    display: flex;
    justify-content: center;
  }
}

.about-us-logo{
  max-width: 150px;
  &-description{
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdbec2;
  }
    img{
      @extend .about-us-logo;
      width: 100%;
      height: auto;
    }
}
.about-us{
    font-family: 'Source Sans Pro', sans-serif;
    color: #bdbec2;
  &-title{
    @extend .about-us;
    font-size: 40px;
  }
  &-description{
    @extend .about-us;
    font-size: 30px;
    padding: 20px 0px 0px 20px;
  }
  
}
.flat-types{
  font-family: 'Source Sans Pro', sans-serif;
  color: #bdbec2;
  font-size: 40px;
  &-header-responsive{
    @extend .flat-types;
    font-size: 30px;
    &-stick{
      display: inline-block;
      font-size: 45px;
    }
    @media only screen and (max-width: 991px){
      display: block;
    }
    display: none;
  }
  &-sub-header-responsive{
    @extend .flat-types;
    font-size: 30px;
    padding: 20px 0px 0px 20px;
    &-stick{
      display: inline-block;
      font-size: 45px;
    }
    @media only screen and (max-width: 991px){
      display: block;
    }
    display: none;
  }
  &-sub-header-desktop{
    @extend .flat-types;
    font-size: 30px;
    @media only screen and (max-width: 991px){
      display: none;
    }
    display: block;
    &-stick{
      display: inline-block;
      font-size: 45px;
    }
  }

}
.flat-types-img-container{
    max-width: 800px;
    img{
      @extend .flat-types-img-container;
      width: 100%;
      height: auto;
    }
}
.flat-types-img-container2{
  max-width: 500px;
  img{
    @extend .flat-types-img-container;
    width: 100%;
    height: auto;
  }
}
.flat-types-img-container1{
  max-width: 800px;
  padding-bottom: 15px;
  img{
    @extend .flat-types-img-container;
    width: 50%;
    height: auto;
    @media only screen and (max-width: 991px){
      width: 100%;
    }
  }
}
.flat-type-img-responsive{
  display: none;
  @media only screen and (max-width: 991px){
    display: block;
    padding-top: 15px;
  }
}
.flat-type-img-desktop{
  display: block;
  padding-top: 15px;
  @media only screen and (max-width: 991px){
    display: none;
  }
}
.interior-imgs-desktop{
  display: block;
  padding-top: 15px;
  @media only screen and (max-width: 991px){
    display: none;
  }
}
.interior-imgs-responsive{
  display: none;
  @media only screen and (max-width: 991px){
    display: block;
    padding-top: 15px;
  }
}
.interior-imgs{
  cursor:zoom-in;
  padding-top: 25px;
  img{
    max-width: 420px;
    height: auto;
  }
  @media only screen and (max-width: 1399px) and (min-width: 992px){
    padding-top: 25px;
    img{
      max-width: calc(335px*0.6);
      height: auto;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px){
    padding-top: 25px;
    img{
      max-width: 335px;
      height: auto;
    }
  }
  @media only screen and (max-width: 767px){
    padding-top: 25px;
    img{
      max-width: 160px;
      height: auto;
    }
  }
}
.interior-img-1{
  cursor:zoom-in;
  padding-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  img{
    max-width: 300px;
    height: auto;
    align-self: flex-end;
  }
  @media only screen and (max-width: 1399px) and (min-width: 992px){
    img{
      max-width: calc(300px*0.6);
    }
  }
}
.interior-img-3{
  cursor:zoom-in;
  padding-top: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  img{
    max-width: 300px;
    height: auto;
    align-self: flex-end;
  }
  @media only screen and (max-width: 1399px) and (min-width: 992px){
    img{
      max-width: calc(300px*0.6);
    }
  }
}
.interior-img-5{
  cursor:zoom-in;
  padding-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  img{
    max-width: 220px;
    height: auto;
    align-self: flex-start;
  }
}
.interior-img-6{
  cursor:zoom-in;
  padding-top: 25px;
  padding-left: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  img{
    max-width: 300px;
    height: auto;
    align-self: flex-start;
  }
}
.contact{
  font-family: 'Source Sans Pro', sans-serif;
  color: #bdbec2;
  font-size: 40px;
  &-sub-header{
    @extend .contact;
    font-size: 25px;
    &-address{
      display: block;
      font-size: 25px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #bdbec2;
      @media only screen and (max-width: 991px){
        display: none;
      }
    }
  }
  &-responsive-address{
    padding-top: 20px;
    display: none;
    @media only screen and (max-width: 991px){
      display: block; 
    }
  }
}

.swiper-desktop{
  display: block;
  @media only screen and (max-width: 991px){
    display: none; 
  }
}
.swiper-responsive{
  display: none;
  @media only screen and (max-width: 991px){
    display: block;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor:zoom-in
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.swiper-pagination-bullet-active {
  background-color: #36373b!important;
}
.swiper-button-next { color: #36373b!important; }
.swiper-button-prev { color: #36373b!important; }
.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content{
  width:62vw;
  background-color: white;
  position: relative;
  @media only screen and (max-width: 991px) {
    width: 97vw;
    background-color: white;
    position: relative;
  }
}
.modal-body{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
}
.modal img{
  width: 60vw;
  @media only screen and (max-width: 991px) {
    width: 92vw;
  }
}
.modal-close{
  position: absolute;
  right: 0;
  font-size: 30px;
  z-index: 99;
  cursor: pointer;
}