.flat-types {
    cursor: zoom-in;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    .corner {
        @media only screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 150px;
        }
    }
    .middle {
        img {
            width: 345px;
        }
    }
    .responsive {
        display: none;
        @media only screen and (max-width: 768px) {
            display: block;
        }
    }
}
@media only screen and (max-width: 768px) {
    .prestige-bottom-part-second-row {
        padding: 0;
    }
}
.life2-container-mobile {
    display: flex;
    @media only screen and (max-width: 820px) {
        display: none;
    }
}
.life2-container-desktop {
    display: none;
    @media only screen and (max-width: 820px) {
        display: block;
    }
}

.life2-swiper-desktop {
    margin-left: 50px;
    width: 345px;
    cursor: zoom-in;
    @media only screen and (max-width: 820px) {
        margin-left: 0;
        width: 325px;
    }
}