.flat-types {
    cursor: zoom-in;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    .corner {
        img {
            width: 150px;
        }
    }
    .middle {
        img {
            width: 345px;
        }
    }
}
