.nilufer-right-col{
    margin-top: 50px;
    @media only screen and (max-width: 768px) {
        margin-top: 10px;
    }
}
.nilufer-img-component-desktop {
    display: block;
    padding-top: 15px;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}
.nilufer-img-component-mobile {
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
        padding-top: 15px;
    }
}
.nilufer-left-image{
    cursor: zoom-in;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nilufer-right-top-image{
    cursor: zoom-in;
    margin-bottom: 24px;
}
.nilufer-right-bottom-image{
    cursor: zoom-in;
}
.pl-40{
    padding-left: 80px;
}
