.nilufer-left-image{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nilufer-right-top-image{
    margin-bottom: 24px;
}
.nilufer-container{
    margin-top: 40px;
}
.nilufer-right-col{
    margin-top: 50px;
}
.detail-title{
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 200;
    color: white;
    &-stick{
        @extend .detail-title;
        font-size: 100px;
        margin-bottom:10px;
    }
}
.detail-sub-title{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    color: white;
    &-stick{
        @extend .detail-title;
        font-size: 80px;
        margin-bottom:10px;
    }
}
.detail-paragraph{
    font-size: 16px;
    font-weight: 200;
    color: white;

}
