.nilufer-right-col{
    margin-top: 110px;
    @media only screen and (max-width: 768px) {
        margin-top: 10px;
    }
}
.nilufer-img-component-desktop {
    display: block;
    padding-top: 15px;
    @media only screen and (max-width: 991px) {
        display: none;
    }
}
.nilufer-img-component-mobile {
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
        padding-top: 15px;
    }
}
.nilufer-left-image{
    display: flex;
    justify-content: end;
    align-items: center;
}
.nilufer-right-top-image{
    margin-bottom: 24px;
}
.pl-40{
    padding-left: 80px;
}
