.nova-main-image{
    display: flex;
    justify-content: center;
    padding: 5% 10% 0px 10%;
    cursor:zoom-in;
    @media only screen and (max-width: 991px) {
        padding: 5% 0% 0px 0%;
    }
}
.nova-detail-image{
    padding: 10% 0% 0px 0%;
    cursor:zoom-in
}
.nova-detail-image-row{
    padding: 0% 25% 0px 25%;
}
.nova-img-component-mobile{
    display: none;
    @media only screen and (max-width: 991px) {
        display: block;
        padding-top: 15px;
    }
}
.bottom-part-second-row{
   padding: calc(var(--bs-gutter-x) * .5 * 2) 24% 0px 0%;
}
.bottom-left-image{
   padding: 0px 0px 0% 20%;
}